.heading {
  text-decoration: underline;
}
.spinner {
  margin-top: 20px;
  margin-left: 50%;
}
.error {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.convert_form {
  display: flex;
}
.form_group {
  width: 30%;
}
.button_div {
  position: relative;
  width: 20%;
}
.convert_button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
}

.convert_card {
  width: 50%;
  margin: auto;
}

@media (max-width: 680px) {
  .convert_form {
    display: flex;
    flex-direction: column;
  }
  .form_group,
  .button_div {
    width: 100%;
    margin-bottom: 10px;
  }
  .convert_button {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
  }
  .convert_card {
    width: 80%;
  }
}
